@import '../../style/common.scss';

.home-page {
  font-weight: normal;

  &__logo {
    @include flex();
  }

  &__header {
    @include flex();

    justify-content: flex-start;

    h3 {
      margin: 0;
    }
  }
}
