$imgUrl: 'https://pics.leezx.cn/gchenu' !default;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin common-icon($size) {
  width: $size;
  height: $size;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin antd-table-head() {
  th {
    position: relative;
    padding: 16px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
  }
}
